@import url(nav_bar_style.css);

@viewport {
    max-zoom: 1;
}
@-o-viewport {
    max-zoom: 1;
}

@-ms-viewport {
    max-zoom: 1;
}

.briefly-information {
    height: 70vh;
    position: relative;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    margin-top: var(--nav-bar-height);
}

.briefly-information > .background {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--clr-accent);
}

.briefly-information > .background-decoration {
    height: 90%;
    width: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
}

.briefly-information > .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Briefly Information */
.infor_name {
    margin-top: 0 !important;
    color: white;
    font-weight: var(--fw-med);
}

.infor_job_title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: rgba(255, 255, 255, 0.8);
    color: white;
    font-weight: var(--fw-reg);
}

.information__note {
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-weight: var(--fw-light);
}


/* Project General  */

.project-title {
    height: 5rem;
}

h3.full-screen-title {
    margin-top: 60vh;
    margin-bottom: 60vh;
    font-weight: var(--fw-med);
    padding: 1rem 1rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: var(--clr-accent);
}

.project-description {
    margin-top: 0.3rem;
    font-size: var(--fs-h4);
    opacity: 0.8;
}

.description_section {
    margin-left: 2rem;
    margin-right: 2rem;   
}

.more-detail-button {
    width: 100%;
    display: block;
    color: rgb(186, 186, 186);
    font-size: var(--fs-h4);
    cursor: pointer;
}

.more-detail-button:hover {
    color: var(--clr-accent);
}

.more-detail--right {
    text-align: right;
}

.more-detail--left {
    text-align: left;
}

.more-detail--down {
    transform: translateY(30px);
}


/* Tom */

#tom_section {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    height: 70vh;
}

#tom_section > .left_section {
    width: 65%;
}

#tom_section > .right_section {
    width: calc(35% - 2.5rem);
    margin-left: 2.5rem;
    height: 70vh;
    position: relative;
}

.right_section .tom_image {
    background-color: white;
    border-radius: 0.65rem;
    height: 95%;
    width: auto;
    position: absolute;
}

.tom_image__image_2 {
    left: 0;
    bottom: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.tom_image__image_1 {
    right: 0;
    top: 0;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
}


/* FEM */

#fem_section {
    margin-top: 15rem;
    display: flex;
    align-items: center;
    height: fit-content;
}

.fem__left_section {
    width: calc(50% - 2.5rem);
    margin-right: 2.5rem;
}

.fem__left_section > img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    border-radius: 0.65rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fem__right_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    top: -1rem;
}

.fem__right_section > .more-detail-button {
    position: relative;
    bottom: -1rem;
}

.fem__right_section > .project-description {
    text-align: right;
}



/* About me */

#about-me-section, #achievement-section {
    padding: 0 10vw;
}

.about-title {
    display: block;
    margin: 55vh auto;
    height: 2.4rem;
}

.personal_infor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.personal_infor > .my_avatar {
    width: 20vw;
    height: auto;
    border-radius: 0.7rem;
    border: 0.4rem solid rgba(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.my_avatar__decor {
    width: 100%;
    height: 1px;
    background-color: var(--clr-light-grey);
}

.personal_infor > .my_name {
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-weight: var(--fw-med);
}

.my_description {
    margin-top: 3rem;
    font-size: var(--fs-h5);
}


/* Tech icon */

#tech-icon-section {
    margin-top: 50vh;
}

.tech-icon-row {
    text-align: center;
    margin: 0rem 3rem;
}

.tech-icon-row > .tech-icon{
    width: 6.5%;
    height: auto;
    margin-right: 1%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}

.tech-icon-row > .tech-icon:last-child {
    margin-right: 0 !important;
}

/* Achievement */
#achievement-section {
    margin-top: 50vh;
}

.my_achieve_image {
    width: 35vw;
    display: block;
    margin: 0 auto;   
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    transform: rotateZ(-2deg);
    margin-top: 5vh;
}

.my_achieve_title, .my_skill_title {
    font-weight: var(--fw-med);
}

.my_achieve_description {
    margin-top: 5vh;
    font-size: var(--fs-h5);
}
