a {
    cursor: pointer;
}

/* Navbar */
.nav-bar {
    width: 100%;
    height: fit-content;
    position: fixed;  
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
    z-index: 100;
}

.nav-link-list {
    width: fit-content;
    margin: 0px;
    padding: 1rem 0.5rem;
}

.nav-link-list .nav-link {
    display: inline-block;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding: 0;
}

.nav-link-list .nav-link > a {
    font-size: var(--fs-h5);
    color: var(--clr-light-grey);
    font-weight: var(--fw-reg);
    opacity: 0.5;
}

.nav-link.active {
    display: inline-flex;
    align-items: center;
}

.nav-link.active .nav-link-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.4rem;
    margin-top: 0.125rem;
}


.nav-link-list .nav-link.active > a {
    color: var(--clr-accent);
    font-weight: var(--fw-semi-bold);
    opacity: 1;
}